<h2>Add Lesson</h2>
<form class="regForm" action="instructor/classes/{{class_id}}/lessons/new" method="post">
  <div class="">
    <label for="">Lesson Title:</label>
    <input type="text" name="lesson_number" value="">
  </div>
  <div class="">
    <label for="">Lesson Title: </label>
    <input type="text" name="lesson_title" value="">
  </div>
  <div class="">
    <label for="">Lesson Body</label>
    <textarea name="lesson_body"></textarea>
  </div>
  <div class="">
    <input type="submit" name="" value="Submit">
  </div>
</form>
